html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #282c34;
  color: white;
}

@media all and (max-width: 480px) {
  body {
    font-size: 16px;
  }
 }

main {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.star-rating {
   font-size: 5rem;
 }
 
.star {
   cursor: pointer;
   color: yellow;
}